{% extends "blog/base.html" %}
{% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    About
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url({%static 'blog/img/about-bg.jpg'%})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, I'm Jinqiang.</p>
      </div>
    </div>
  </div>
{% endblock content %}
